<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edición de producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/umeni.jpeg">
    <link rel="stylesheet" href="/css/create.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
</head>
<body>
  
<form action="/products/edit/<%= productEditar.id%>?_method=PUT" method="POST" enctype="mutipart/form-data"> 
  <h1>Editándo la obra: <%= productEditar.titulo_obra%>  </h1>
  <h4 class=subtitulo>Modificá la información suministrada</h4>
  <br>
  <label for="name">Título de la obra:</label>
  <input type="name" placeholder="Ingresá el nombre del producto" id="prodname" name="prodname" required value="<%= productEdita.titulo_obra%>">
  <br>
  <label for="description">Nombre del Artista:</label>
  <input type="name" placeholder="Ingresá nombre" id="nombre" name="nombre" required value="<%= productEditar.nombre_artista%>">
  <br>
  <br>
  <label for="description">Apellido del rtista:</label>
  <input type="name" placeholder="Apellido del Artista" id="apellido" name="apellido" required value="<%= productEditar.apellido_artista%>">
  <br>
  <label for="prod_img">Imagen de la obra:</label>
  <input type="file" placeholder="Cargá una imagen" id="prod_img" name="prod_img" accept=".jpg" multiple required value="<%= productEditar.imagen%>" 
  <br>
  <legend>Categoría</legend>
  <div class="contcheckbox">
      <label>
          <input id="catint" type="checkbox" name="catint" value="pintura" checked>Pintura
      </label>
      <label>
          <input id="catint" type="checkbox" name="catint" value="escultura">Escultura
      </label>
      <label>
          <input id="catint" type="checkbox" name="catint" value="fotografia">Fotografía
      </label>
  </div>
  <div class="contcheckbox">
    <br>
    
<br>
<br>
<label for="price">Precio:</label>
<input type="number" placeholder="Ingresá el precio de la obra" id="price" name="price" required value="<%= productEditar.precio%>">
<br>
  <br>
    <button class="login" type="submit">Enviar</button>
  <br>
</form>


</body>
<footer>
  <%- include('../partials/footer.ejs') %>
</footer>
</html>