<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crear Vino</h1>
    <br>
    <br>
    <form method="POST" action="/vinos/add" enctype="multipart/form-data" >
  <label for="name">Nombre:</label>
  <input type="name" placeholder="Ingresá el nombre del producto" id="prodname" name="nombre" required>
  <br>
  <br>
  <label for="description">Descripción</label>
  <input type="name" placeholder="Descripción" id="apellido" name="descripcion" required >
  <br>
  <br>
  <label for="prod_img">Imagen:</label>
  <input type="file" placeholder="Cargá una imagen" id="prod_img" name="imagen"  multiple required> 
  <br>
  <br>
  <label for="precio">Precio:</label>
  <input type="number" placeholder="Ingresá el precio" id="price" name="precio" required>
  <br>
  <br>
  <label for="anio">Año:</label>
  <input type="number" placeholder="Ingresá el año" id="price" name="anio" required>
  <br>
  <br>
  <label>Bodega:</label>
  <select name="bodega">
    <option selected disabled>Seleccionar bodega...</option>
    <% locals.bodegas.forEach(function(bodegas) { %>
    <option value="<%= bodegas.idBodega %>"> <%= bodegas.bodegaNombre %> </option>
    <% }) %>
  </select>
  <br>
  <br>
   <label>linea:</label>
   <select name="linea">
    <option selected disabled>Seleccionar linea...</option>
    <% locals.lineas.forEach(function (lineas) {%>
    <option value="<%= lineas.idLinea %>">
      <%= lineas.lineascol %>
    </option>
    <% }) %>
  </select>
  <br>
  <br>
  <label>Cepa</label>
  <select name="cepa">
    <option selected disabled>Seleccionar cepa...</option>
    <% locals.cepas.forEach(function (cepas) {%>
    <option value="<%= cepas.idCepa %>">
      <%= cepas.nombreCepa %>
    </option>
    <% }) %>
  </select>
  <br>
  <br>
  <label>Maridaje:</label>
  <select name="maridaje">
    <option selected disabled>Seleccionar maridaje...</option>
    <% locals.maridaje.forEach(function (maridaje) {%>
    <option value="<%= maridaje.idMaridaje %>">
      <%= maridaje.maridaje %>
    </option>
    <% }) %>
  </select>
  <br>
  <br>
  <label>Potencial de guardado (en años):</label>
  <input type="number" placeholder="Ingresá el potencial de guardado"  name="potencialGuardado" required>
  <br>
  <br>
  <label>Volumen (en ml.):</label>
  <input type="number" placeholder="Ingresá el volumen"  name="volumen" required>
  <br>
  <br>
    <button class="login" type="submit">Enviar</button>
  <br>
</form>
</body>
</html>