<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= vinos.nombre %> </h1>
    <div><img class= "imagen" src="<%= vinos.imagen %>"></div>
    <p>Descripción:  <%= vinos.descripcion %> </p>
    <p>Precio:  <%= vinos.precio %></p>
    <p>Año:  <%= vinos.anio %></p>
    <p> Bodega:  <%= vinos.bodegas.bodegaNombre %></p>
    <p> Volumen:  <%= vinos.volumen %></p>
    <p> Cepa:  <%= vinos.cepas.nombreCepa %></p>
    <p> Maridaje:  <%= vinos.maridaje.maridaje %></p>
    
    <br>
    <br>
    <form action="/delete/<% vinos.idVino %>?_method=DELETE" method="POST">
           <button type="submit">DELETE</button>   
    </form>
    <br>
    <a href="/vinos/edit/<%=vinos.idVino %>">
        <button>EDITAR</button>
    </a>
    
</body>
</html>