<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= vinos.nombre %> </h1>
    <p>Descripción:  <%= vinos.descripcion %> </p>
    <p>Precio:  <%= vinos.precio %></p>
    <p>Año:  <%= vinos.anio %></p>
    <p> Bodega:  <%= vinos.nombreBodega_idBodega %></p>
    <p> Imagen:  <%= vinos.imagen %></p>
    <p> Volumen:  <%= vinos.volumen %></p>
    <p> Cepa:  <%= vinos.cepas.nombreCepa %></p>
    
    <br>
    <br>
    <form action="/vinos/delete/<%=vinos.id%>" method="POST">
           <button>DELETE</button>   
    </form>
</body>
</html>