<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Vino</h1>
    <br>
    <br>
    <form method="POST" action="/vinos/edit/<%=vino.id  %>?_method=PUT" enctype="multipart/form-data">
<label for="name">Nombre:</label>
  <input type="name" placeholder="Ingresá el nombre del producto"  name="nombre" value="<%=vino.nombre %>">
  <br>
  <br>
  <label for="description">Descripción</label>
  <input type="name" placeholder="Descripción"  name="descripcion" <%=vino.descripcion %>>
  <br>
  <br>
  <label for="prod_img">Imagen:</label>
  <input type="file" placeholder="Cargá una imagen" id="prod_img" name="imagen" value="<%=vino.imagen %>"> 
  <br>
  <br>
  <label for="price">Precio:</label>
  <input type="number" placeholder="Ingresá el precio" id="price" name="precio" value="<%=vino.precio %>">
  <br>
  <br>
  <label for="price">Año:</label>
  <input type="number" placeholder="Ingresá el año" id="price" name="anio" value="<%=vino.anio %>">
  <br>
  <br>
  <label>Bodega:</label>
  <input type="number" placeholder="Ingresá el id de bodega"  name="nombreBodega_idBodega" value="<%=vino.nombreBodega_idBodega %>">
  <br>
  <br>
  <label>linea:</label>
  <input type="number" placeholder="Ingresá el id de linea"  name="lineas_idLineas" value="<%=vino.lineas_idLineas %>">
  <br>
  <br>
  <label>Cepa:</label>
  <input type="number" placeholder="Ingresá el id de cepa"  name="cepas_idcepa" value="<%=vino.cepas_idcepa %>">
  <br>
  <br>
  <label>Maridaje:</label>
  <input type="number" placeholder="Ingresá el id de maridaje"  name="maridaje_idMaridaje" value="<%=vino.maridaje_idMaridaje%>">
  <br>
  <br>
  <label>Potencial de guardado (en años):</label>
  <input type="number" placeholder="Ingresá el potencial de guardado"  name="potencialGuardado" value="<%=vino.potencialGuardado%>">
  <br>
  <br>
  <label>Volumen (en ml.):</label>
  <input type="number" placeholder="Ingresá el volumen"  name="volumen" value="<%=vino.volumen%>">
  <br>
  <br>
    <button class="login" type="submit">Enviar</button>
  <br>
</form>
  

</body>
</html>