
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>UMENI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="icon" href="/images/productos/Malbec-Tintos.png">
    </head>
    <body>
        <header>
            <%- include('./partials/header.ejs') %>
        </header>
        <main>
            <section class="banner">
                <img class="portada" src="/images/vino-banner.png" alt="Banner-vino">
            </section>

            <div class="form" action="#" method="GET">
                <div class="input">Buscar mas productos</div>
                <div class="submit"><i class="fas fa-search"></i></div>
            </div>
            <br>
            <section class="recomendados">
                <h2>Nuestros recomendados</h2>
                <div class="recomend">
    
      
        
            <% if(locals.vinos){ %>           
            <%  for (let i = 0; i < vinos.length; i++){ %>
                <Article>
            <a href="/vinos/detalleVino/<%= vinos[i].idVino %>">
            <div><img class= "imagen" src="/images/productos/<%= vinos[i].imagen %>"> </div> </a>      
            <div class="info">
            <p class="vino"> Bodega: <%= vinos[i].bodegas.bodegaNombre %> </p>
            <p class="bodega"> </p>Vino:<%= vinos[i].nombre %></p>
            <p class="year"> Año: <%= vinos[i].anio %></p>
            <p class="precio"> Precio: <%= vinos[i].precio %></p>
            </div>  
             </Article>
            <% } %> 
            <% } %>      
        
    
</div>
</section>
<br>
<sectionc class="wine-type">
    <h2>¿Qué estas buscando?</h2>
    <div class="types">
        <article>
            <div><img class= "imagen-tipo" src="/images/copa-tinto.jpg"></div>
            <div class="info-type">
            <p class="variedad">TINTO</p>
            <p class="estacion">Verano 2022</p>
            <a class="see-more" href="/vinos/tintos">VER MÁS</a>
            </div>
        </article>
        <article>
            <div><img class= "imagen-tipo" src="/images/copa-blanco.jpg"></div>
            <div class="info-type">
            <p class="variedad">BLANCO</p>
            <p class="estacion">Verano 2022</p>
            <a class="see-more" href="/vinos/blancos">VER MÁS</a>
            </div>
        </article>
        <article>
            <div><img class= "imagen-tipo" src="/images/copa-espumante.jpg"></div>
            <div class="info-type">
            <p class="variedad">ESPUMANTES</p>
            <p class="estacion">Verano 2022</p>
            <a class="see-more" href="/vinos/espumantes">VER MÁS</a>
            </div>
        </article>
        <article>
            <div><img class= "imagen-tipo" src="/images/copa-especiales.jpg"></div>
            <div class="info-type">
            <p class="variedad">ESPECIALES</p>
            <p class="estacion">Verano 2022</p>
            <a class="see-more" href="/vinos/especiales">VER MÁS</a>
            </div>
        </article>
    </div>
</section>
<br>

</main>
</body>
<footer>
<%- include('./partials/footer.ejs') %>
</footer>

           

</html>