
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>UMENI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="icon" href="/images/productos/Malbec-Tintos.png">
    </head>
    <body>
        <header>
            <%- include('./partials/header.ejs') %>
        </header>
        <main>
            <section class="banner">
                <img class="portada" src="/images/vino-banner.png" alt="Banner-vino">
            </section>

            <div class="form" action="#" method="GET">
                <div class="input">Buscar mas productos</div>
                <div class="submit"><i class="fas fa-search"></i></div>
            </div>
            <br>
            <section class="recomendados">
                <h2>Vinos Tintos</h2>
                <div class="recomend">

                    <% if (locals.vinos) { %>
                        <% for (let i = 0; i < vinos.length; i++) { %>
                            <Article>
                              <a href="/vinos/detalleVino/<%= vinos[i].idVino %>">
                                <div><img class="imagen" src="/images/productos/<%= vinos[i].imagen %>"></div>
                              </a>
                              <div class="info">
                                <p class="vino">Bodega: <%= vinos[i].bodegas.bodegaNombre %></p>
                                <p class="bodega">Vino: <%= vinos[i].nombre %></p>
                                <p class="year">Año: <%= vinos[i].anio %></p>
                                <p class="precio">Precio: <%= vinos[i].precio %></p>
                              </div>
                            </Article>
                        <% } %>
                      <% } %>
                      
                </div>
            </section>
        </main>
    </body>
<br>

<footer>
<%- include('./partials/footer.ejs') %>
</footer>

</html>