<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
        <main>
            <div class="data">
                <h2> Hola <%= user.nombre %> </h2>
                <img class="img-avatar" src="/images/avatars/<%= locals.userLogged.avatar %>">
                <br>
                <br>
                <div class="user-mail"> <%= user.email %></div>
            </div>
            <div class="edit-profile">
            <div class="edit-user">
                    <a href="/user/edit/<%= locals.userLogged.email %>" title="Actualizar-perfil">Actualizar perfil</a>
                </div>
                <div class="delete-user">
                    <form action="/user/<%= user.email %>?_method=DELETE" method="POST" > <button type="submit"  title="Eliminar" name="Eliminar">Eliminar cuenta  </button></form>
                </div>
            </div>
        </main>
<br>
</body>
</html>