<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="/css/register.css">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <body>
            <!-- Se añade js para validacion front -->
            <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
            <script async src="/js/scriptUserEdit.js"></script>
        <main>
            <div class="data">
                <h2> Hola <%= user.nombre %> </h2>


                <form action="/user/update/<%= user.email %>?_method=PUT" method="POST"  id="form" enctype="multipart/form-data" class="editPerfil">
                    
                    <h1>Modifica tu cuenta</h1>
                    <div class="errores">
                        <ul></ul>
                    </div>
                    <label for="fullName">Editar nombre:</label>
                    <input type="text" placeholder="Ingresa tu nombre completo" id="fullName" name="fullName" value="<%= user.nombre %>" class="fullName">
                    <br>
                     <% if (locals.errors && errors.fullName) { %>
                    <div class="text-danger">
                        <%= errors.fullName.msg %>
                    </div>
                    <% } %>
                    <label for="apellido">Editar Apellido:</label>
                    <input type="text" placeholder="Ingresa tu apellido" id="apellido" name="apellido" class="apellido"
                    value="<%= user.apellido %>"
                    <br>
                    <% if (locals.errors && errors.apellido) { %>
                      <div class="text-danger">
                        <%= errors.apellido.msg %>
                      </div>
                    <% } %>
                    <br>
                    <label for="email">Editar correo Electrónico:</label>
                    <input type="email" placeholder="Ingresa tu correo electrónico" id="email" name="email" value="<%= user.email %>" class="emilio">
                    <br>
                    <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                    <%= errors.email.msg %>
                    </div>
                    <% } %>
                    <br>
                    <div>
                        <label><b>Cambia tu imagen de perfil: </b></label>
                        <br>
                        <div>
                            <img id="imgOld" src="/images/avatars/<%= locals.userLogged.avatar %>" class="user-image">
                        </div>
                        <input type="file" name="avatar" id="img-avatar" value="<%= locals.userLogged.avatar %>" class="imgUser">
                    </div>
                    <br>
                    <div>
                        <label for="passwordOld">Contraseña actual:</label>
                        <input type="password" placeholder="Ingresa su contraseña actual" id="passwordOld" name="passwordOld" class="contra">
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                              <%= errors.password.msg %>
                            </div>
                          <% } %>
                    </div>
                    <div>
                        <label for="password">Ingrese su nueva contraseña:</label>
                        <input type="password" placeholder="Ingrese nueva contraseña" id="password" name="password" class="nuevaContra">
                    </div>
                    <div>
                        <label for="password2">Repita su nueva contraseña:</label>
                        <input type="password" placeholder="Repita nueva contraseña" id="password2" name="password2" class="nuevaContra2">
                    </div>
                    <br>
                    <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                        <%= errors.password.msg %>
                    </div>
                    <% } %>

                    <% if (locals && locals.mensajesDeError) { %>
                        <div class="errores" id="error">
                            <% mensajesDeError.forEach(error => { %>
                                  <p><%= error.msg %> </p>
                            <% }) %>
                          </div>
                      <% } %>
                    
                    <button class="login" type="submit">Actualizar perfil</button>

                </form>
            </div>
        </main>
    </body>
</html>